/* Styles go here */

* { font-family: Arial, sans-serif;}
.ioBox {
	margin-left: 110px;
	font-size: 2.5em;
}
.inputBox {
	width: 100%;
	margin: 20px;
	margin-left: 55px;
	font-size: 1.0em;
}
.inputBox input {
	width: 100px;
}
table {
	margin-left:55px;
}
#shapeBox {
/*	display: block;
	overflow: hidden;
	float: right;		*/
	margin-left:115px;
	height: 240px;
	width: 400px;
	background: url(./primitives.png) no-repeat;
}
#charmap {
	display: block;
	text-align: right;
	font-size: 0.5 em;
}
