<!DOCTYPE html>
<html>
  <head>
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="css.css" />
    <script src="js.js"></script>
  </head>
  <body>
  <div ng-app="kalk" ng-controller="kalk">
	<span class="izbornik" ng-repeat="shape in shapes" ng-click="setCurrentShape(shape)">
		<span>{{shape.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span>
	<h4>{{currentShape.name}}:</h4>

	<div ng-switch="currentShape.name">
		<div ng-switch-when="Šipka">
			<p>
				promjer: <input type="number" ng-model="currentShape.diameter" step="10" min="0"><br/><br/>
				duljina: <input type="number" ng-model="currentShape.length" min="0">
			</p>
		</div>
		<div ng-switch-when="Ploča">
			<p>
				duljina: <input type="number" ng-model="currentShape.length"><br/><br/>
				širina: <input type="number" ng-model="currentShape.height"><br/><br/>
				visina: <input type="number" ng-model="currentShape.width">
			</p>
		</div>
		<div ng-switch-when="Cijev">
				promjer: <input type="number" ng-model="currentShape.diameter"><br/><br/>
				duljina: <input type="number" ng-model="currentShape.length"><br/><br/>
				debljina stijenke: <input type="number" ng-model="currentShape.thickness"><br/><br/>
				unutarnji promjer: <input type="number" ng-model="currentShape.innerDia">
		</div>
		<div ng-switch-when="šesterokutna šipka">
			<h1>Šesterokutna šipka</h1>
			<p>
			otvor ključa: <input type="number" ng-model="duljina"><br/>
			duljina: <input type="number" ng-model="sirina"><br/>
			</p>
		</div>
	</div>
<!--
	<table>
		<thead>Čelik</thead><thead>Aluminij</thead>
		<tr>
			<td>{{$scope.volume}}</td>
			<td>2</td>
		</tr>
	</table>
	<button ng-click="test()">test</button>
-->
	<div id="status" style="display:block;float:right">
		<h3>status</h3>
		<p>oblik: {{$scope.currentShape}}</p>
		<p>volumen: {{$scope.currentShape.volume}} mm<sup>3</sup></p>
		<p>masa: {{$scope.currentShape.mass}}</p>
		<p id="scope">scope:</p>
	</div>
	
	
	<h4>{{currentShape}}:</h4>
	<h4>volumen: {{$eval(currentShape.formula)}} mm<sup>3</sup></h4>
<!--
	<div class="unosPodataka" ng-repeat="unos in currentShape.vars">
		<span class="unos">{{unos}}:&nbsp;<input type="number" ng-model="currentShape.input[$index]" /></span>
	</div>
-->
  </div>
  
  <script>
var app = angular.module('kalk', []);
    
app.controller('kalk', function($scope) {
/*    $scope.calc = {
		input: '',
		result: ''
	};
	$scope.mass = 0;
    $scope.shape = "";
	$scope.test = function (){alert($scope.calc)}
	
	console.log("User = ", $scope.calc);
*/

$scope.shapes = [ // definition of shapes, declaring variables and calculation formulas
	{name:'Šipka', diameter: 0, length:0, formula:'currentShape.diameter*currentShape.diameter*3.14159/4*currentShape.length*0.000000001'},
	{name:'Ploča', length: 0, width: 0, height: 0, formula:'currentShape.length*currentShape.width*currentShape.height'},
	{name:'Cijev', vars: ['promjer','debljina stijenke','duljina'], input:[], formula:'((d*d*3.14)-(s*s*3.14))*l'}
];
$scope.currentShape = $scope.shapes[0]; // default shape
$scope.setCurrentShape = function(shape){$scope.currentShape = shape;}; // user select shape
// $scope.currentShape.volume = $eval($scope.currentShape.formula);
});

  </script>
  </body>

</html>
