<!DOCTYPE html>
<html>
  <head>
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="css.css" />
    <script src="js.js"></script>
  </head>
  <body>
  <div ng-app="kalk" ng-controller="kalk">
	<span class="izbornik" ng-repeat="shape in shapes" ng-click="setCurrentShape(shape)">
		<span>{{shape.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span>
	<h4>{{currentShape.name}}:</h4>

	<div ng-switch="currentShape.name">
		<div ng-switch-when="Šipka">
			<p>
				promjer: <input type="number" ng-model="currentShape.diameter" step="10" min="0"><br/><br/>
				duljina: <input type="number" ng-model="currentShape.length" min="0">
			</p>
		</div>
		<div ng-switch-when="Ploča">
			<p>
				duljina: <input type="number" ng-model="currentShape.length"><br/><br/>
				širina: <input type="number" ng-model="currentShape.height"><br/><br/>
				visina: <input type="number" ng-model="currentShape.width">
			</p>
		</div>
		<div ng-switch-when="Cijev">
				promjer: <input type="number" ng-model="currentShape.diameter"><br/><br/>
				duljina: <input type="number" ng-model="currentShape.length"><br/><br/>
				debljina stijenke: <input type="number" ng-model="currentShape.wallThickness"><br/><br/>
<!--			unutarnji promjer: <input type="number" ng-model="currentShape.innerDia">-->
		</div>
		<div ng-switch-when="šesterokutna šipka">
			<h1>Šesterokutna šipka</h1>
			<p>
			otvor ključa: <input type="number" ng-model="duljina"><br/>
			duljina: <input type="number" ng-model="sirina"><br/>
			</p>
		</div>
	</div>
	<table border="1" >
		<caption>Izračunata masa</caption>
		<th>Čelik</th><th>Aluminij</th>
		<tr>
			<td>{{currentShape.volume*7850 | number:3}} kg</td>
			<td>{{currentShape.volume*2700 | number:3}} kg</td>
		</tr>
	</table>


	<div id="status" style="display:block;float:left">
		<h3>status</h3>
		<p>oblik: {{currentShape.name}}</p>
		<p>{{currentShape}}</p>
		<p>volumen: {{volume(currentShape)}} m<sup>3</sup></p>
		<p>masa: {{currentShape.mass}}</p>
	</div>
  </div>
  <script>
var app = angular.module('kalk', []);

app.controller('kalk', function($scope) {

$scope.shapes = [ // definition of shapes, declaring variables and calculation formulas
	{name:'Šipka', diameter: 10, length: 10},
	{name:'Ploča', length: 10, width: 10, height: 10},
	{name:'Cijev', diameter: 20, wallThickness: 2, length: 10}
];
$scope.currentShape = $scope.shapes[0]; // default shape
$scope.setCurrentShape = function(shape){$scope.currentShape = shape;}; // user select shape

$scope.volume = function(currentShape){
	switch (currentShape.name){
		case 'Šipka':
			return $scope.currentShape.volume = currentShape.diameter*currentShape.diameter*3.14159/4*currentShape.length*0.000000001;
			break;
		case 'Ploča':
			return $scope.currentShape.volume = currentShape.length*currentShape.width*currentShape.height;
			break;
		case 'Cijev':
			return $scope.currentShape.volume = (3.14159*currentShape.wallThickness*(currentShape.diameter-currentShape.wallThickness)*currentShape.length*0.000000001);
			break;
	}
};

});

  </script>
  </body>

</html>
