<!DOCTYPE html>
<html>
  <head>
	<title>HSTEC kalkulator mase</title>
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />
    <link rel="stylesheet" href="css.css" />
    <script src="js.js"></script>
  </head>
  <body>
  <div ng-app="kalk" ng-controller="kalk">
	<h1 class="ioBox"><span class="izbornik" ng-repeat="shape in shapes" ng-click="setCurrentShape(shape)" 
	ng-class="currentShape==shape ? 'w3-white' : 'w3-grey'">
		<span class="{{shape.name}}">&nbsp;&nbsp;{{shape.name}}&nbsp;&nbsp;</span>
	</span></h1>

	<div ng-switch="currentShape.name" class="ioBox">
		<div ng-switch-when="Šipka" class="Šipka">
			<div class="inputBox">&Oslash;D&nbsp;
				<input type="number" ng-model="currentShape.diameter" id="Šipka0" ng-keydown="$event.which === 13 && focusNextInput()" onfocus="this.select()" step="10" min="0" >&nbsp;&nbsp;promjer</div>
			<div class="inputBox">&nbsp;&nbsp;L&nbsp;&nbsp;
				<input type="number" ng-model="currentShape.length" id="Šipka1" ng-keydown="$event.which === 13 && focusNextInput()" onfocus="this.select()" min="0">&nbsp;&nbsp;duljina</div>

		</div>
		<div ng-switch-when="Ploča" class="Ploča">
			<div class="inputBox">D&nbsp;&nbsp;&nbsp;<input type="number" ng-model="currentShape.length" id="Ploča0" ng-keydown="$event.which === 13 && focusNextInput()" onfocus="this.select()" min="0">&nbsp;&nbsp;duljina</div>
			<div class="inputBox">Š&nbsp;&nbsp;&nbsp;<input type="number" ng-model="currentShape.height" id="Ploča1" ng-keydown="$event.which === 13 && focusNextInput()" onfocus="this.select()" min="0">&nbsp;&nbsp;širina</div>
			<div class="inputBox">V&nbsp;&nbsp;&nbsp;<input type="number" ng-model="currentShape.width" id="Ploča2" ng-keydown="$event.which === 13 && focusNextInput()" onfocus="this.select()" min="0">&nbsp;&nbsp;visina</div>
		</div>
		<div ng-switch-when="Cijev" class="Cijev">
			<div class="inputBox">&Oslash;D&nbsp;<input type="number" ng-model="currentShape.diameter" id="Cijev0" ng-keydown="$event.which === 13 && focusNextInput()" onfocus="this.select()" step="10" min="0">&nbsp;&nbsp;promjer</div>
			<div class="inputBox">L&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" ng-model="currentShape.length" id="Cijev1" ng-keydown="$event.which === 13 && focusNextInput()" onfocus="this.select()" min="0">&nbsp;&nbsp;duljina</div>
			<div class="inputBox">s&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" ng-model="currentShape.wallThickness" id="Cijev2" ng-keydown="$event.which === 13 && focusNextInput()" onfocus="this.select()" min="0">&nbsp;&nbsp;debljina stijenke</div>
<!--			unutarnji promjer: <input type="number" ng-model="currentShape.innerDia">-->
		</div>
		<div ng-switch-when="šesterokutna šipka">
			<h1>Šesterokutna šipka</h1>
			<p>otvor ključa: <input type="number" ng-model="duljina"><br/>
			duljina: <input type="number" ng-model="sirina"><br/></p>
		</div>
	<table border="1" cellpadding="10" class="w3-card-8 w3-xxlarge">
		<tr><th colspan="2" style="font-weight: lighter;">Izračunata masa</th></tr>
		<tr>
			<td>{{volume(currentShape)*7850 | number:3}} kg</td>
			<td>{{currentShape.volume*2700 | number:3}} kg</td>
		</tr>
		<th>Čelik</th><th>Aluminij</th>
	</table>
	</div></br>
	<div id="shapeBox" ng-style="{'background-position':'0 '+(shapes.indexOf(currentShape)*240*-1)+'px'}"></div>
<!-- 	<div id="debugBox">$scope.currentInput = {{currentInput}} | debug = {{debug}}</div> -->
	  <div id="charmap"><code> Ø± ↧ µ ⌰ ↗ ⌯ ⌾</code></div>
  </div>

	<script>
var app = angular.module('kalk', []);

app.controller('kalk', function($scope) {
$scope.shapes = [ // definition of shapes, declaring variables and calculation formulas
	{name:'Šipka', diameter: 10, length: 10},
	{name:'Ploča', length: 10, width: 10, height: 10},
	{name:'Cijev', diameter: 20, wallThickness: 2, length: 10}
];
$scope.currentShape = $scope.shapes[0]; 	// default shape
$scope.currentInput = 0;					// 
$scope.setCurrentShape = function(shape){ 	// user select shape
	$scope.currentShape = shape;
	$scope.currentInput = 0;
/*	$timeout(function () {
		$scope.focusNextInput(); 
		alert("$scope.focusNextInput()") 
	}, 0, false);
*/
};

$scope.focusNextInput = function(){			// select content of current input field and increment/reset currentInput variable if needed
	document.getElementById($scope.currentShape.name+$scope.currentInput).select();
	if($scope.currentInput < (Object.keys($scope.currentShape).length-4)){ $scope.currentInput++; } else { $scope.currentInput = 0; }
};

$scope.volume = function(currentShape){
	switch (currentShape.name){
		case 'Šipka':
			return $scope.currentShape.volume = currentShape.diameter*currentShape.diameter*3.14159/4*currentShape.length*0.000000001;
			break;
		case 'Ploča':
			return $scope.currentShape.volume = currentShape.length*currentShape.width*currentShape.height*0.000000001;
			break;
		case 'Cijev':
			return $scope.currentShape.volume = (3.14159*currentShape.wallThickness*(currentShape.diameter-currentShape.wallThickness)*currentShape.length*0.000000001);
			break;
	}
};

});
	</script>
  </body>
</html>
